# fichier .gitignore
echo "# Django
*.log
*.pot
*.pyc
__pycache__/
# db.sqlite3
# /media
# Static files (source) - ne pas ignorer
# /static

# Static files collected - à ignorer
/staticfiles/
# Environment
.env
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# Database
# *.db
*db.sqlite3
/db/*.sqlite3


# Uploads
# /media/


# Migrations
# **/migrations/*.py
# !**/migrations/__init__.py

# Misc
.DS_Store
" > .gitignore